mat-nav-list {
  button {
    background-color: transparent;
  }

  h2 {
    color: orange;
    font-weight: bold !important;
    font-size: 20px;
    padding-bottom: 10px !important;
  }

  p {
    padding-bottom: 3px !important;
  }
}

ion-footer {
  position: fixed;
  width: 100%;
  justify-content : center;
  }

  .refreshOrders {
    margin-right: 20px;
  }

  .logOutButton {
    margin-right: 10px;
  }

  mat-icon {
    cursor: pointer;
  }

  .custom-button{
    position:fixed;
    right:0;
    bottom:0;
    width: 100%;
    padding: 15px;
    font-size: 25px;
    background-color: orange;
    color: white;
    font-family: monospace;
  }

  .mat-list-container {
    overflow-y: auto;
    height: 90%;
  }