.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9lIiaotoPHPkOvBiHTswf2cWH8nmyPD9u6t7HR4jgD8X351u5&usqp=CAU');
    background-size: cover;
  }