<ion-header>
  <ion-toolbar>
    <ion-title>orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Berlin => Leipzig</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://www.ostraining.com/cdn/images/wordpress/embedpress/set-up-your-google-map.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <span>Pickup date: 2020-06-04 11:50:00</span><br>
      <span>Drop date: 2020-06-04 11:50:00</span><br>
      <span>Pickup location: Berlin</span><br>
      <span>Drop location: Leipzig</span><br>
      <span>Didtance: 201Km</span><br>
    </mat-card-content>
  </mat-card>
</ion-content>
