<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="companyIcon" [src]="homeIcon" />

  <button mat-raised-button color="primary" class="shipperLoginButton" (click)="login('clientlogin')">
   Client Login
    <mat-icon>double_arrow</mat-icon>
</button>

<button mat-raised-button color="primary" class="transporterLoginButton" (click)="login('shipperlogin')" >
  Shipper Login
   <mat-icon>double_arrow</mat-icon>
</button>

</ion-content>
